body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: #4c4c4c;
  border-radius: 0;
  border-bottom: 10px solid #4c4c4c;
  position: relative;
}

h1 {
  font-size: 4.4em;
  text-shadow: 2px 3px 5px #4c4c4c;
}

#description {
  font-family: 'League Script', cursive;
  font-weight: 700;
  font-size: 40px;
  position: absolute;
  top: 140px;
  width: 100%;
  color: #06AED5;
  z-index: -1;
}

#currentDay {
  color: #ff5349;
  background: #FFE5E4;
  border-top: 1px solid #ff5349;
  border-bottom: 1px solid #ff5349;
  line-height: 2em;
  width: 300px;
  margin: 0 auto;
  margin-top: 50px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  color: #4c4c4c;
  border-top: 1px dashed #d8d8d8;
  background: white;
  padding-top: 10px;
}

textarea{
  /* background: #b5e2ff; */
  border: 1px solid white;
  resize: none;
  color: #4c4c4c;
  padding: 10px;
}

.saveBtn {
  border: 1px solid #e5e5e5;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}

.saveBtn:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

.saveBtn:focus {
  outline: none;
}

i {
  padding-bottom: 10px;
}


/* For iPad */
@media (max-width: 800px) {
  #currentDay {
    margin-top: 80px;
  }
}


/* For mobile */
@media (max-width: 480px) {
  h1 {
    font-size: 2.5em;
  }

  #description {
    font-weight: 700;
    font-size: 20px;
    top: 77px;
  }

  #currentDay {
    line-height: 1.5em;
  }

  .row {
    white-space: normal;
  }

  i {
    padding-bottom: 0px;
  }
}